<?xml version='1.0' encoding='utf-8'?>
<widget
  id="org.eternagame.mob"
  ios-CFBundleIdentifier="eternagame"
  version="1.12.3"
  xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Eterna</name>
    <author email="support@eternagame.org" href="https://eternagame.org">
        Eternagame
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-navigation href="https://irc.eternagame.org/*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <icon src="res/eterna_icon_144.png" />
    <splash src="res/Default@2x~universal~anyany.png" width="2732" height="2732" density="land-xxxhdpi" />
    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <preference name="SplashShowOnlyFirstTime" value="false" />
    <preference name="orientation" value="landscape" />
    <preference name="resizeOnFullScreen" value="true" />
    <preference name="DisallowOverscroll" value="true" />
    <hook type="before_prepare" src="./scripts/build.js" />
    <preference name="WKWebViewOnly" value="true" />
    <platform name="android">
        <icon density="mdpi" background="res/eterna_icon_48_bg.png" foreground="res/eterna_icon_48_fg.png" src="res/eterna_icon_48.png" />
        <icon density="xxhdpi" background="res/eterna_icon_144_bg.png" foreground="res/eterna_icon_144_fg.png" src="res/eterna_icon_144.png" />
        <allow-intent href="market:*" />
        <preference name="android-targetSdkVersion" value="35" />
    </platform>
    <platform name="ios">
        <icon src="res/eterna_icon_1024.png" width="1024" height="1024" />
        <icon src="res/eterna_icon_167.png" width="167" height="167" />
        <icon src="res/eterna_icon_152.png" width="152" height="152" />
        <icon src="res/eterna_icon_120.png" width="120" height="120" />
        <icon src="res/eterna_icon_76.png" width="76" height="76" />
        <icon src="res/eterna_icon_40.png" width="40" height="40" />
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <preference name="allowFileAccessFromFileURLs" value="true" />
        <preference name="allowUniversalAccessFromFileURLs" value="true" />
        <preference name="InspectableWebview" value="true" />
        <edit-config file="*-Info.plist" mode="add" target="ITSAppUsesNonExemptEncryption">
            <false/>
        </edit-config>
        <!--
            We have to force fullscreen while we lock to landscape, as otherwise we get a validation
            error on upload that ipad multitasking requires all orientations to be allowed
        -->
        <edit-config file="*-Info.plist" mode="add" target="UIRequiresFullScreen">
            <true/>
        </edit-config>
    </platform>
    <platform name="browser">
        <preference name="SplashScreen" value="/res/Default@2x~universal~anyany.png" />
        <preference name="SplashScreenWidth" value="2732" />
        <preference name="SplashScreenHeight" value="2732" />
    </platform>
</widget>
