<!DOCTYPE html>
<html>
    <head>
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <%= htmlWebpackPlugin.tags.headTags %>
        <title>Eterna Mobile</title>
    </head>
    <body>
        <div id="app"></div>
        <% if (mode === 'production') { %>
            <script defer data-domain="eterna-mobile" src="https://analytics.eternagame.org/js/script.local.manual.hash.js"></script>
            <script>window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }</script>
        <% } %>
        <%= htmlWebpackPlugin.tags.bodyTags %>
        <script src="cordova.js"></script>
    </body>
</html>
