<!DOCTYPE html>
<html>
    <head>
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <%= htmlWebpackPlugin.tags.headTags %>
        <title>Eterna Mobile</title>
    </head>
    <body>
        <div id="app"></div>
        <% if (mode === 'production') { %>
            <script>
                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    
                ga('create', 'UA-17383892-8', 'auto');
                ga('set', 'checkProtocolTask', function () { /* nothing */ });
            </script>
            <script defer data-domain="eterna-mobile" src="https://analytics.eternagame.org/js/script.local.manual.hash.js"></script>
            <script>window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }</script>
        <% } %>
        <%= htmlWebpackPlugin.tags.bodyTags %>
        <script src="cordova.js"></script>
    </body>
</html>
