<!DOCTYPE html>
<html>
    <head>
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <%= htmlWebpackPlugin.tags.headTags %>
        <title>Eterna Mobile</title>
    </head>
    <body>
        <div id="app"></div>
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-022RW9V497"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-022RW9V497', { 'send_page_view': false, checkProtocolTask: null, storage: 'none' });
        gtag('get', 'G-022RW9V497', 'client_id', (clientId) => {
            localStorage.setItem('ga-client-id', clientId);
        });
        </script>
        <%= htmlWebpackPlugin.tags.bodyTags %>
        <script src="cordova.js"></script>
    </body>
</html>
